/individuo.class
/individuoInface.class
/populacao.class
/tabu.class
/teste.class
/Individuo.class
/Populacao.class
/Tabu.class
/Teste.class
/Individuo.class
/Populacao.class
/Tabu.class
/Teste.class
/Individuo.class
/Populacao.class
/Tabu.class
/Teste.class
